.main{
	background-image: url("../../../public/images/cards/bg.png");
	display:flex;
	margin-left: auto;
	margin-right: auto;
}

.container{
	margin-top:40px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	justify-content: center;
	height: 100%;
}

ul{
	padding-left:0;
	list-style-type: none;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(8,1fr);
}


.card{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width:90%;
	border: 3px solid black;
	border-radius: 12px;
}

.card:hover{
	border: 3px solid white;
	border-radius: 12px;
}

.win_tb{
	text-align: center;
}

.win_message{
	margin-top: 0px;
	color: white;
	font-size: 65px;
	text-align:center;
}