body{
    background-color: rgb(31, 31, 31);
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
    object-fit: contain;
}

.resumePic{
    margin-top: 10px;
    height: 34%;
    width: 34%;
}

