@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.hero-container {
  height: 325px;
  width: 100%;
  display: flex;
  flex-direction: column;
  object-fit: contain;
}
  
.hero-container > h1 {
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-text-stroke: 2px black;
}

.hero-container > p {
  text-align: center;
  width: 50%;
  margin-top: 8px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  font-size: 32px;
  font-family: 'Quicksand', sans-serif;
}

.hero-btns {
  margin-top: 10px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-folder {
  margin-left: 4px;
}

.fa-github {
  margin-left: 4px
}

.topSection{
  display: flex;
  background-color: rgba(82,138,202,.65);
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  align-items: center;
}

.bottomSection{
  display:flex;
  background-color: rgba(49,62,80);
  padding-bottom: 85px;
}

.center-box {
  margin-left: 16%;
  margin-top: 35px;
  justify-content: center;
  text-align: center;
  align-items: center; 
  width: 36%;
  padding-bottom: 35px;
}

.center-box > p {
  margin-left:auto;
  margin-right: auto;
  width: 65%;
  margin-top: 8px;
  color: rgb(255, 255, 255);
  /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
  font-size: 23px;
  font-family: 'Quicksand', sans-serif;
}

.center-box > h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 100px;
  color: white;
  margin-top: 0px;
  border-bottom: 2px solid white;
  margin-left:auto;
  margin-right:auto;
  /* width: 70%; */
}

.showCase{
  width: 17%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: absolute; 
  top: 27%; 
  left: 73%; 
}

@media screen and (max-width: 1366px) {

  .center-box {
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    text-align: center;
    /* width: 45%; */
  }

  .center-box > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 960px) {
  .center-box > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 960px) {
  .center-box > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .center-box > h1 {
    font-size: 18pt;
  }

  .center-box > p {
    font-size: 11pt;
  }

  .hero-btns {
    margin-top: 0px;
  }

  .hero-btns .btn {
    margin: 3px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn--large{
    padding: 0px;
  }

  .btn {
    width: 100px;
    height:25px;
    font-size:8pt;
    margin-bottom: auto;
    margin-top: auto;
  }
}

.textStrip{
  /* background-color: rgba(26, 23, 23, 0.5); */
  margin-left:7%;
  width: 55%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.textStrip > p{
  text-align:center;
  padding-top:35px;
  margin-top: 1%;
  color: rgb(255, 255, 255);
  /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}